body {
	background:#BBB;
	font-family: "Lucida grande",Verdana,arial,sans-serif;
    margin:10px 0px 0px 0px;
	font-size: 70%;
}	
#il {
	background: url('bgleft.gif') repeat-y;	
}
#it {
	background: url('bgright.gif') repeat-y 100% 0px;	
}
#inner {
	margin:0px 40px 0px 40px;
	background:#fff;
}
#top {
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background:url('top.gif') repeat-x;
}
.rqtopimg {
	background:url('logo.gif') no-repeat;
	height:40px;
	width:450px;
	float:left;
}
a {
	color:#00c;	
}
a:hover {
	color:#c00;	
}


.rqdefaultpage {
    padding:40px 15px 5px 20px;
    margin:0px;
}
.rqpage {
	padding:20px 15px 5px 20px;
}
.rqerror { 
	color:#f00;
	font-weight:bold;
	padding:4px;
	margin:4px;
	border:1px solid #d8d8d8;
	font-size:100%;
	background:#ffc;
}
.rqsep {
	clear:both;
}

.rqview {
	background:#fff;
	padding:5px;
	clear:left;
}
.rqview .lbl {
	width:30%;
	text-align:right;
	color: #666699;
}
.rqview .val {
}
.radio {
	margin-left:15px;
}

.rqview h2 {
	font-size:120%;
	font-weight: normal;
	letter-spacing: 0.2em; 
    color: #666666;
	border-bottom: 1px solid #ccc;
	margin:4px 0px 10px 0px;	
	padding:2px 0px 4px 10px;
}
.req {
	font-weight: bold;
	color:#CC0000;
}
.secure {
	background:url('keys.jpg') no-repeat 100% 0%;	
}

/*****************************************
	MENUBAR STYLES
******************************************/
.mbar {
	padding:0px 0px 0px 0px;
	margin:10px 2px 10px 0px;
}

.mb {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:url('menbk.gif') repeat-x;
	width:100%;
	height:30px;
}
.mbb {
	
}

.mb ul.mbp {
	margin: 0px;
	padding: 0px;
}

.mb ul.mbp li  {
	display: inline;
	list-style: none;
}
.mbpcmen {
	cursor:pointer;
	display: block;
	padding: 4px 20px 4px 20px;
	margin: 0px 2px 0px 0px;
	text-align: center;
	font-size: 100%;
	text-decoration: none;
	color: #afccdc;
	float:left;
}

.mb ul.mbp a.mbpmen {
	display: block;
	padding: 8px 20px 0px 20px;
	margin: 0px;
	text-align: center;
	font-size: 100%;
	text-decoration: none;
	color: #333;
	background: url('men.gif');
	float:left;
	border:none;
	height:22px;
	border-right:1px solid #ccc;
}
.mb ul.mbp a.mbpmen:hover {
	background: url('mencur.gif');
}

.mb ul.mbp span,.mb ul.mbp a.current,.mb ul.mbp a.current:hover {
	display: block;
	padding: 8px 20px 0px 20px;
	margin: 0px;
	text-align: center;
	font-size: 100%;
	text-decoration: none;
	color: #333;
	float:left;
	background: url('mensel.gif');
	height:22px;
	border:none;
	border-right:1px solid #ccc;
}

.mli {
	font-size:120%;	
}

/*****************************************
	FOOTER STYLES
******************************************/
#footer
{
	background: url('blfoot.gif') no-repeat;	
    padding:0px;
    height:40px;
}
#ifooter 
{
	background: url('brfoot.gif') no-repeat 100% 0px;	
    margin:0px;
}
#cfooter 
{
	background:url('bfoot.gif') repeat-x;
	color:#eee;
    padding:6px;
	margin:0px 40px 0px 40px;
	height:42px;
    text-align:center;
}
#cfooter a {
	color:#eee;
}
#cfooter .f1 
{
	padding:5px;
}
#cfooter .f2
{
	padding:5px;
}
a.lnkfooter 
{
	color:#777;
	text-decoration:none;
}
a.lnkfooter:hover
{
	color:#c00;
	text-decoration:none;
}
/*****************************************
    MULTI COLUMN LIST
******************************************/
.tblreq {
	margin:0px 0px 3px 0px;
	border:1px solid #777;
}
.tblreq td {
	padding:3px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}

.tblreq th {
	padding:3px;
	border-right:1px solid #ccc;
}
.tblreq thead tr {
  background-color: #888;
  color:#fff;
}
.tblreq tr.odd td {
}
.tblreq tr.even td {
	background:#f0f0f0;
}
/*****************************************
    Install btns
******************************************/

a.rqbtn {
    color: #fff;
    text-decoration: none;
    margin:5px;
    font-family:verdana,sans-serif;
    font-size:10px;
    padding:2px 10px 2px 0px;
}
a.rqbtn span {
    padding:2px 4px 2px 14px;
}
a.rqbtn:hover {
    color:#fff;
	text-decoration:none;    
}

a.rpinstall {
    background: url('btnok.gif') no-repeat right;
}
a.rpinstall span {
    background: url('btnoks.gif') no-repeat;
}
a.rpinstall:hover {
    background: url('btnokh.gif') no-repeat right;
}
a.rpinstall:hover span {
    background: url('btnokhs.gif') no-repeat;
}

a.rpurl {
	color:#777;
}
a.rpurl:hover {
	color:#c00;
}

.rpimg {
	border:1px solid #777;
}
/*****************************************
    Features
******************************************/
.versions {
    padding:10px;
    border:1px solid #ccc;
    margin:0px 10px 20px 0px;    
}

.rpcat {
	border:1px solid #ccc;	
	padding:5px;
	margin:20px 5px 5px 0px;
	font-size:110%;
}
.rpfeatlist {
	margin-top:5px;
}
.rpfeatdesc {
	font-weight:bold;	
}
.rpfeatinst {
	margin:0px 10px 0px 0px;
	padding:4px;	
}


.rpcat li {
	padding:2px 0px 2px 10px;
	list-style:none;
	margin:0px;
}
a.rpcatlnk {
	color:#777;	
	text-decoration:none;
}
a.rpcatlnk:hover {
	color:#c00;	
}

.rpfeatlnk {
	background:#fff;
	border:1px solid #fff;
	padding:1px;
}
a.rpfeatlnk:hover {
	border:1px solid #aaa;
}
.rpfeatlnk img {
	border:1px solid #777;
}

#launch {
	margin:10px;
}
a.rplaunch {
	font-size:150%;
	text-decoration:none;
}
a.rplaunch:hover {
	text-decoration:underline;
}




.rqprogressBar {
  margin: 5px;
}

.rqprogressBar .rqborder {
  background: url("progress-remainder.gif") repeat-x;
  width: 100%;
  padding:0px;
  border-left:1px solid #777;
  border-right:1px solid #777;
}

.rqprogressBar .rqbackground {
  background: url("progress-bar.gif") repeat-x;
  height: 18px;
  width: 0%;
}
.rqtask {
	font-size:110%;
	text-align:center;
	width:100%;
	padding:2px 10px 10px 10px;	
}
.rqpercent {
	font-size:110%;
	font-weight:bold;
	padding:2px;
}

.rqwait {
	width:100%;
	background:url('spinner.gif') 50% 0% no-repeat;
	height:20px;
	text-align:center;
}
.rqwait span {
	visibility:hidden;
}
.plugin {
	padding:10px;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.bundleinfo {
	width:320px;
}


.testok {
	background:url("document_check.gif") no-repeat;
	height:48px;
	font-size:140%;
	padding-left:58px;	
	padding-top:12px;	
}

.rpfeatdesc {
	padding:2px;
}
.rpfeatldesc {
	padding:2px;
}
.rpfeaturl {
	padding:2px;
}

