<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <display-name>panel</display-name>

    <filter>
        <filter-name>dysowebSecurityFilter</filter-name>
        <filter-class>com.requea.dysoweb.panel.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>dysowebRedirectFilter</filter-name>
        <filter-class>com.requea.dysoweb.panel.RedirectFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>dysowebSecurityFilter</filter-name>
        <url-pattern>/dysoweb/panel/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>dysowebRedirectFilter</filter-name>
        <url-pattern>/dysoweb/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>dysowebSecurityFilter</filter-name>
        <url-pattern>/dwbndl</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>dysowebSecurityServlet</servlet-name>
        <servlet-class>com.requea.dysoweb.panel.SecurityServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dysowebInstallServlet</servlet-name>
        <servlet-class>com.requea.dysoweb.panel.InstallServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dysowebRestServlet</servlet-name>
        <servlet-class>com.requea.dysoweb.panel.RestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dysowebInstallServlet</servlet-name>
        <url-pattern>/dysoweb/panel/secure/install</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dysowebSecurityServlet</servlet-name>
        <url-pattern>/dysoweb/panel/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dysowebRestServlet</servlet-name>
        <url-pattern>/dysoweb/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bundleServlet</servlet-name>
        <url-pattern>/dwbndl</url-pattern>
    </servlet-mapping>
    

</web-app>

